<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/style.css">
   
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <nav>
          <ul>
            <li><a href="{{ site.baseurl }}" class="enabled" title="Home" rel="home" accesskey="i"><span>I</span>ndex</a></li>
            <li><a href="{{ site.baseurl }}/about.html" class="enabled" title="Help" rel="help" accesskey="h"><span>A</span>bout</a></li>
          </ul>
        </nav>
      </header>

      {{content}}
  
    </div>
  </body>
</html>
